.main{
    margin: 0 auto;
    display: flex;
    background-color: blanchedalmond;
    flex-wrap: wrap;
    width: 800px;
    gap: 20px;
    padding: 30px;
    justify-content: space-around;
}
.filmCard{
    display: flex;
    flex-direction: column;
    width: 360px;
    border: 3px black solid;
    background-color: #acb7ce;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px;
}
.filmCard p{
    font-size: 14px;
    padding: 20px;
}
.filmCard_title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 20px;
}
.filmCard_title h2{
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 55, 255, 0.7);
}
.filmCard_title p{
    font-weight: 400;
    font-size: 14px;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.loader {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #3498db;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    margin: 10px auto;
}